# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.ipynb_checkpoints/

# macOS
.DS_Store

# Jupyter
.jupyter/

# Data / outputs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Large neuroimaging files
*.nii
*.nii.gz
*.mgz
*.h5
*.hdf5

# Logs
*.log
